{% extends 'base.html' %}
<!--cargar crispy-form-->
{% load crispy_forms_tags %}

<!--cargar archivos static-->
{% load static %}
{% block content %}

    <div class="bg-light py-3">
        <div class='container'>
            <div class='row'>
                <div class='col-md-12 mb-0 '>
                    <a href="{% url 'home' %}">Home</a>
                    <span class= 'mx-2 mb-0'>/</span>
                    <strong class='text-block'>Contactu</strong>
                </div>
            </div>
        </div>
    </div>
    <div class='site-section'>
        <div class='container'>
            <div class='row justify-content-center'>
            {%if 'ok' in request.POST %}
            <p class='form-mensaje'>Informacion enviada correctamente, Gracias</p>
            {% endif %}
                <div class = 'col-md-7'>
                    <h2 class ='h3 mb-3 text-black'>Contacta con Nós</h2>
                </div>
                <!--crear formulario-->
                <div class = 'col-md-7'>
                    <form method='POST'>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class='btn btn-primary btn-block btn-lg' value='Enviar'/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}